body {
  /* background-color: antiquewhite;
  min-width: 100vh;
  margin: 0;
  display: grid;
  place-content: center; */
  background-image: url("https://media.istockphoto.com/id/1055722852/vector/abstract-background.jpg?s=612x612&w=0&k=20&c=EPIe1Kalsb-UQp8QQsEsOhyBjcKu6SkCnkk4DMSgMTw=");
background-size: cover;
      
}
 .nav-bar{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
 }
.App {
    font-family: sans-serif;
    /* text-align: center; */

}
.home-container{
  display: grid;
  place-content: center;
}
.movie-smart{
   max-width: 1400px;
    margin: 0 auto;
    place-content: center; 
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
/* @media (max-width: 200px) { */
@media (width < 200) {
    body {
  min-width: 100vh;
  margin: 0;
  display: grid;
  place-content: center;
}
  
}
.movie-container{
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    img{
      width: 100%;
      height: 500px;
      object-fit: cover;
      border-radius: 15px;
       box-shadow: hsla(0, 0%, 0%, 0.571) 0px 5px 15px;
    }
    .title-container{
        display: flex;
        justify-content: space-between;
    }
    p{
       color: rgba(83, 81, 77, 0.916);
       text-align: left;
    }
    
}

.container {
  color: black;
  /* display: grid; */
  img {
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
  }
  span {
    font-weight: bold;
    font-style: italic;
  }
  p {
    font-size: 20px;
  }
}

.user-container{
  display: grid;
  place-content: center;
  gap: 10px;
}
.colorGame-container{
   display: grid;
  place-content: center;
  gap: 10px;
}
  .Movie-like-btn{
    /* display: flex;
    align-content: start;
    gap: 10px;
    padding: 5px; */
  }



  .movie-content-container {
  max-width: 60rem;
}
:root {
  /* 1rem = 16px */
  font-size: 16px;
}
.add-movie-form, .edit-movie-form {
  display: grid;
  gap: 0.5rem;
  max-width: 30rem;
  margin: 1.25rem auto;
}
.like-delete{
  display: flex;
  justify-content: space-between;
}